@source "../frontend/"
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: "DMSans";
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover-secondary: var(--popover-secondary);
    --color-popover-secondary-foreground: var(--popover-secondary-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-thirdly: var(--thirdly);
    --color-thirdly-foreground: var(--thirdly-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-chart-6: var(--chart-6);
    --color-chart-7: var(--chart-7);
    --color-chart-8: var(--chart-8);
    --color-chart-9: var(--chart-9);
    --color-chart-10: var(--chart-10);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-serene-blue: var(--serene-blue);
}

:root {
    --radius: 0.625rem;
    --font-sans: "DMSans";
    --background: #f5f5f5;
    --foreground: #506182;
    --card: #ffffff;
    --card-foreground: #17192e;
    --popover: #ffffff;
    --popover-foreground: #17192e;
    --primary: #895af8;
    --primary-foreground: #ffffff;
    --secondary: #4a7aad;
    --secondary-foreground: #ffffff;
    --muted: #ffffff;
    --muted-foreground: #17192e;
    --accent: #ededed;
    --accent-foreground: #88888e;
    --destructive: #a80b42;
    --border: #c7c7c7;
    --input: #c7c7c7;
    --ring: #895af8;
    --chart-1: #895af8;
    --chart-2: #4a7aad;
    --chart-3: #2e2e2e;
    --chart-4: #987936;
    --chart-5: #366025;
    --chart-6: #8d4e78;
    --chart-7: #813e3e;
    --chart-8: #2ec4d6;
    --chart-9: #ff5fa2;
    --chart-10: #5d7cff;
    --sidebar: #2d2c2c;
    --sidebar-foreground: #d9d9d94d;
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: #d9d9d94d;
    --sidebar-accent: #d9d9d90d;
    --sidebar-accent-foreground: #d9d9d9b2;
    --sidebar-border: #e1e1e1;
    --sidebar-ring: oklch(0.551 0.027 264.364);
    --serene-blue: #47668b;
}

.dark {
    --radius: 0.625rem;
    --font-sans: "DMSans";
    --background: #1c1c1c;
    --foreground: #bbbbbb;
    --card: #1c1c1c;
    --card-foreground: #bbbbbb;
    --popover: #1c1c1c;
    --popover-foreground: #bbbbbb;
    --primary: #895af8;
    --primary-foreground: #ffffff;
    --secondary: #4a7aad;
    --secondary-foreground: #ffffff;
    --muted: #212121;
    --muted-foreground: #a8b2c8;
    --accent: #2a2a2a;
    --accent-foreground: #a8b2c8;
    --destructive: #a80b42;
    --border: #373737;
    --input: #373737;
    --ring: #895af8;
    --chart-1: #895af8;
    --chart-2: #4a7aad;
    --chart-3: #2e2e2e;
    --chart-4: #987936;
    --chart-5: #366025;
    --chart-6: #8d4e78;
    --chart-7: #813e3e;
    --chart-8: #2ec4d6;
    --chart-9: #ff5fa2;
    --chart-10: #5d7cff;
    --sidebar: #2d2c2c;
    --sidebar-foreground: #d9d9d94d;
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: #d9d9d94d;
    --sidebar-accent: #d9d9d90d;
    --sidebar-accent-foreground: #d9d9d9b2;
    --sidebar-border: #333333;
    --sidebar-ring: oklch(0.551 0.027 264.364);
    --serene-blue: #47668b;
}

.monaco-editor .view-overlays .current-line-exact {
    background-color: var(--color-accent);
    border: none !important;
}
.monaco-editor-background {
    background-color: transparent !important;
}
.monaco-editor,
.monaco-editor-background,
.monaco-editor .margin,
.monaco-editor .monaco-scrollable-element {
    background: transparent !important;
}

.monaco-editor .margin {
    background: transparent !important;
}

.monaco-editor-overlaymessage {
    display: none !important;
}

.dv-pane-container .dv-pane .dv-pane-header:focus:before,
.dv-pane-container .dv-pane .dv-pane-header:focus-within:before {
    outline: none !important;
}

.dv-pane-container .dv-pane .dv-pane-body:focus:before,
.dv-pane-container .dv-pane .dv-pane-body:focus-within:before {
    outline: none !important;
}

.dv-tabs-container > .dv-tab:focus-within::after,
dv-tabs-container > .dv-tab:focus::after {
    outline: none !important;
}

.dv-groupview,
.dv-dockview {
    background-color: var(--color-muted) !important;
}

.dv-groupview.dv-active-group
    > .dv-tabs-and-actions-container
    .dv-tabs-container
    > .dv-tab.dv-active-tab {
    background-color: var(--color-background) !important;
}

.dv-groupview.dv-active-group
    > .dv-tabs-and-actions-container
    .dv-tabs-container
    > .dv-tab.dv-inactive-tab {
    background-color: var(--color-muted) !important;
}

.dv-groupview.dv-inactive-group
    > .dv-tabs-and-actions-container
    .dv-tabs-container
    > .dv-tab.dv-active-tab {
    background-color: var(--color-muted) !important;
}

.dv-groupview.dv-inactive-group
    > .dv-tabs-and-actions-container
    .dv-tabs-container
    > .dv-tab.dv-active-tab {
    color: var(--color-muted-foreground) !important;
    opacity: 0.5;
}

.dv-groupview.dv-inactive-group
    > .dv-tabs-and-actions-container
    .dv-tabs-container
    > .dv-tab.dv-inactive-tab {
    color: var(--color-muted-foreground) !important;
    opacity: 0.5;
}

.dv-groupview.dv-active-group
    > .dv-tabs-and-actions-container
    .dv-tabs-container
    > .dv-tab.dv-active-tab {
    color: var(--color-foreground) !important;
}

.dv-groupview.dv-active-group
    > .dv-tabs-and-actions-container
    .dv-tabs-container
    > .dv-tab.dv-inactive-tab {
    color: var(--color-muted-foreground) !important;
    opacity: 0.5;
}

.dv-tab {
    border-right: 0.5px solid var(--color-border);
    padding-left: 16px !important;
    padding-right: 12px !important;
}

.dv-tab:last-child {
    border-right: 0;
}

.dv-tabs-and-actions-container {
    height: 36.5px !important;
    border-bottom: 0.5px solid var(--color-border);
    background-color: var(--color-muted) !important;
}

.dv-split-view-container.dv-separator-border
    .dv-view:not(:first-child)::before {
    background-color: var(--color-border) !important;
}

.dv-split-view-container.dv-vertical
    > .dv-view-container
    > .dv-view:not(:first-child)::before {
    height: 0.5px !important;
}
.dv-split-view-container.dv-horizontal
    > .dv-view-container
    > .dv-view:not(:first-child)::before {
    width: 0.5px !important;
}

.dv-tab.dv-inactive-tab .dv-default-tab .dv-default-tab-action {
    visibility: visible !important;
}

.dv-svg {
    width: 8px !important;
    height: 8px !important;
}

.dv-default-tab-content {
    margin-right: 12px !important;
}

.dv-groupview.dv-inactive-group
    > .dv-tabs-and-actions-container
    .dv-tabs-container
    > .dv-tab.dv-inactive-tab {
    background-color: var(--color-muted) !important;
}

@font-face {
    font-family: "DMSans";
    src: url("./shared/assets/fonts/DMSans/DMSans.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
}
